<nb-card>
  <nb-card-header>
    Alumnos
  </nb-card-header>
  <nb-card-body>
    <div class="row filter-bar">
      <div class="col-9">
        <input
          (keyup)="handleSearch($event)"
          type="text"
          nbInput
          fullWidth
          shape="round"
          placeholder="Busqueda..."
        />
      </div>
      <div class="col-3">
        <nb-select
          fullWidth
          placeholder="Buscar Por"
          shape="round"
          (selectedChange)="handleFilter($event)"
        >
          <nb-option value="name" selected>Nombre </nb-option>
          <nb-option value="enrollmentId">Matricula </nb-option>
          <nb-option value="group">Grupo </nb-option>
          <nb-option value="phone">Teléfono </nb-option>
          <nb-option value="payments">Pagos </nb-option>
        </nb-select>
      </div>
    </div>
    <div class="wrapper">
      <nb-tabset fullWidth>
        <nb-tab tabTitle="Alumnos">
          <app-students-table
            [students]="students"
            mode="view"
          ></app-students-table>
        </nb-tab>
        <nb-tab tabTitle="Egresados">
          <app-students-table
            [students]="graduates"
            mode="view"
          ></app-students-table>
        </nb-tab>
      </nb-tabset>
    </div>
  </nb-card-body>
</nb-card>
