.row {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  .editor {
    width: 100%;
    padding: 10px;
    margin-left: 15px;
    background: #fcfcfc;
    border-radius: 3px;
  }
}

.notes {
  width: 100%;
  display: grid;
  grid-template-columns: auto 150px 150px;
  column-gap: 20px;
}

nb-action {
  cursor: pointer;
  &:hover:not(.danger) {
    color: #3561f7;

    nb-icon {
      color: #3561f7;
    }
  }
  nb-icon {
    margin-right: 15px;
  }
  &.danger:hover {
    color: #fe1874;

    nb-icon {
      color: #fe1874;
    }
  }
}
