nb-card:last-child {
  margin: 0;
  nb-card-body {
    padding: 0;
    width: 100%;
    .wrapper {
      position: relative;
      top: 0;
      padding: 10px 30px;
      margin: 0;
      height: calc(100vh - 360px);
      overflow-y: scroll;
    }

    .filter-bar {
      padding: 15px;
      margin: 0;
      border-bottom: 1px solid #edf1f6;
      width: 100%;
    }
  }
}

nb-action {
  cursor: pointer;
  &:hover:not(.danger):not(.disabled) {
    color: #3561f7;

    nb-icon {
      color: #3561f7;
    }
  }
  nb-icon {
    margin-right: 15px;
  }
  &.danger:hover {
    color: #fe1874;

    nb-icon {
      color: #fe1874;
    }
  }
}

app-payment-item {
  width: 100%;
}

nb-list-item {
  padding: 0;
}
