nb-layout-footer {
  position: relative;
  footer {
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    height: 100%;
    width: 100%;
    p {
      color: black;
      padding: 0;
      margin: 0;
      font-size: 10px;
    }
  }
}

nb-layout-column {
  height: calc(100vh - 76px);
  width: 100%;
  overflow: hidden;
  position: relative;
  .scrollable {
    position: absolute;
    height: calc(100vh - 76px);
    padding: 30px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
  }
}

nb-sidebar,
nb-layout-footer {
  z-index: 2;
  background: #233445;
}
