<nb-card>
  <nb-card-header>
    Vuelos
  </nb-card-header>
  <nb-card-body>
    <div class="row filter-bar">
      <div class="col-9">
        <input
          type="text"
          nbInput
          fullWidth
          shape="round"
          placeholder="Busqueda..."
          (keyup)="handleSearch($event)"
        />
      </div>
      <div class="col-3">
        <nb-select
          fullWidth
          placeholder="Buscar Por"
          shape="round"
          (selectedChange)="handleFilter($event)"
        >
          <nb-option selected value="grades">Calificaciones </nb-option>
          <nb-option selected value="updatedAt">Fecha</nb-option>
        </nb-select>
      </div>
    </div>
    <div class="wrapper">
      <nb-tabset fullWidth #tabset>
        <nb-tab tabTitle="Vuelos" #tableTab>
          <app-flight-table
            [flights]="flights"
            mode="view"
            (reload)="handleReload()"
          ></app-flight-table
        ></nb-tab>
        <nb-tab tabTitle="Crear Vuelo">
          <app-flight-create (back)="handleReload()"></app-flight-create>
        </nb-tab>
      </nb-tabset>
    </div>
  </nb-card-body>
</nb-card>
