<div class="wrapper create" *ngIf="mode == 'create'" [formGroup]="payment">
  <input
    formControlName="folio"
    type="text"
    nbInput
    fullWidth
    shape="round"
    placeholder="Folio"
  />
  <input
    formControlName="name"
    type="text"
    nbInput
    fullWidth
    shape="round"
    placeholder="Titulo"
  />
  <input
    formControlName="charge"
    type="text"
    nbInput
    fullWidth
    shape="round"
    placeholder="Monto"
  />
  <input
    formControlName="deadLine"
    nbInput
    fullWidth
    shape="round"
    placeholder="Fecha de limite"
    [nbDatepicker]="endpicker"
  />
  <button
    (click)="handleCreate()"
    nbButton
    shape="round"
    status="primary"
    fullWidth
  >
    Crear
  </button>
</div>

<div class="wrapper" *ngIf="mode == 'view'">
  <nb-icon
    *ngIf="!deleteEnabled"
    icon="trash-outline"
    status="basic"
    [options]="{ animation: { type: 'pulse' } }"
    (click)="enableModsHandler()"
  ></nb-icon>
  <nb-icon
    *ngIf="deleteEnabled"
    icon="trash-outline"
    status="danger"
    [options]="{ animation: { type: 'pulse' } }"
    (click)="handleDelete()"
  ></nb-icon>
  <div>
    <b>{{ paymentInput.folio }}</b>
  </div>
  <div>
    {{ paymentInput.name }}
  </div>
  <div>{{ paymentInput.charge | currency }} mxn</div>
  <div>
    {{ paymentInput.deadLine | date }}
  </div>
  <button
    *ngIf="paymentInput.completed == false"
    nbButton
    shape="round"
    [status]="isPayed ? 'basic' : 'primary'"
    size="small"
    fullWidth
    (click)="handlePay()"
  >
    {{ !isPaying && !isPayed ? "Pagar" : "" }}
    {{ isPaying && !isPayed ? "Pagando" : "" }}
    {{ isPayed ? "Pagado" : "" }}
  </button>
  <button
    *ngIf="paymentInput.completed == true"
    nbButton
    shape="round"
    status="basic"
    size="small"
    fullWidth
  >
    Pagado
  </button>
</div>
<nb-datepicker #endpicker></nb-datepicker>
