<div
  class="wrapper"
  *ngIf="mode == 'create'"
  [ngClass]="{ create: mode == 'create' }"
>
  <nb-select placeholder="Materia" [selected]="id" shape="round" fullWidth>
    <nb-select-label>
      <nb-user
        [name]="getSubject(id).name"
        [title]="getSubject(id).folio"
        size="small"
      ></nb-user>
    </nb-select-label>

    <nb-option [value]="subject._id" *ngFor="let subject of subjects">
      {{ subject.name }}
    </nb-option>
  </nb-select>
  <button nbButton shape="round" status="primary" fullWidth>
    Agregar
  </button>
</div>

<div
  class="wrapper"
  *ngIf="mode == 'view'"
  [ngClass]="{ view: mode == 'view' }"
>
  <nb-icon
    icon="minus-circle-outline"
    status="basic"
    [options]="{ animation: { type: 'pulse' } }"
  ></nb-icon>
  <div>
    {{ grade.subject.name }}
  </div>

  <input nbInput fullWidth shape="round" placeholder="Calificación" />
  <button nbButton shape="round" status="basic" size="small" fullWidth>
    Guardar
  </button>
</div>
