<div
  class="wrapper"
  *ngIf="mode == 'create'"
  [ngClass]="{ create: mode == 'create' }"
  [formGroup]="subject"
>
  <nb-select
    formControlName="subject"
    placeholder="Materia"
    shape="round"
    fullWidth
  >
    <nb-option [value]="subject._id" *ngFor="let subject of subjects">
      {{ subject.name }}
    </nb-option>
  </nb-select>
  <button
    nbButton
    shape="round"
    status="primary"
    fullWidth
    (click)="handleAddSubject()"
  >
    Agregar
  </button>
</div>

<div
  class="wrapper"
  *ngIf="mode == 'view'"
  [ngClass]="{ view: mode == 'view' }"
  [formGroup]="grade"
>
  <nb-icon
    (click)="handleDelete()"
    icon="minus-circle-outline"
    status="basic"
    [options]="{ animation: { type: 'pulse' } }"
  ></nb-icon>
  <div>
    {{ gradeInput.subject.name || gradeInput.student.name }}
  </div>
  <input
    formControlName="grade"
    nbInput
    fullWidth
    shape="round"
    placeholder="Calificación"
  />
  <button
    (click)="handleUpdate()"
    nbButton
    shape="round"
    status="basic"
    size="small"
    fullWidth
  >
    Guardar
  </button>
</div>
