<nb-card class="members" *ngIf="academic">
  <nb-card-header>
    Programa
  </nb-card-header>
  <nb-card-body>
    <div class="row editor">
      <div class="col-4">
        <div class="profile-pic">
          <img class="col-12 profile-pic" [src]="academic?.avatarUrl" />
        </div>
      </div>
      <div class="col-8">
        <div class="col-12"><b>Folio: </b> {{ academic?.folio }}</div>
        <div class="col-12"><b>Programa: </b> {{ academic?.name }}</div>
        <div class="col-12">
          <b>Materias: </b> {{ academic?.subjects?.length }}
        </div>
        <div class="col-12"><b>Contacto: </b> {{ academic?.email }}</div>
        <div class="col-12"><b>Objetivo: </b> {{ academic?.description }}</div>
      </div>
    </div>
    <div class="row filter-bar">
      <input
        type="text"
        nbInput
        fullWidth
        shape="round"
        placeholder="Busqueda..."
      />
      <nb-select fullWidth placeholder="Buscar Por" shape="round">
        <nb-option value="1">Matricula </nb-option>
        <nb-option value="2">Usuario </nb-option>
        <nb-option value="3">Nombre </nb-option>
        <nb-option value="3">Teléfono </nb-option>
        <nb-option value="3">Pagos </nb-option>
      </nb-select>
    </div>
    <div class="wrapper">
      <nb-tabset fullWidth>
        <nb-tab tabTitle="Materias">
          <app-subject-table
            [academicId]="id"
            [subjects]="programSubjects"
            mode="remove"
            (reload)="handleReload()"
          ></app-subject-table>
        </nb-tab>
        <nb-tab tabTitle="Agregar">
          <app-subject-table
            [academicId]="id"
            [subjects]="subjects"
            mode="add"
            (reload)="handleReload()"
          ></app-subject-table>
        </nb-tab>
      </nb-tabset>
    </div>
  </nb-card-body>
</nb-card>
