<nb-card class="members" *ngIf="flight">
  <nb-card-header>
    Vuelo
  </nb-card-header>
  <nb-card-body>
    <div class="row editor">
      <div class="col-12">
        <div class="col-12"><b>Titulo: </b> {{ flight?.name }}</div>
        <div class="col-12"><b>Folio: </b> {{ flight?.folio }}</div>
        <div class="col-12">
          <b>Costo: </b> {{ flight?.cost | currency }}mxn
        </div>
        <div class="col-12"><b>Fecha: </b> {{ flight?.startDate | date }}</div>
        <div class="col-12">
          <b>Enlistados: </b> {{ flight?.enlisted?.length }}
        </div>
        <div class="col-12">
          <b>Aprovados: </b> {{ flight?.approved?.length }}
        </div>
        <div class="col-12"><b>Objetivo: </b> {{ flight?.description }}</div>
      </div>
    </div>
    <div class="row filter-bar">
      <input
        type="text"
        nbInput
        fullWidth
        shape="round"
        placeholder="Busqueda..."
      />
      <nb-select fullWidth placeholder="Buscar Por" shape="round">
        <nb-option value="1">Matricula </nb-option>
        <nb-option value="2">Usuario </nb-option>
        <nb-option value="3">Nombre </nb-option>
        <nb-option value="3">Teléfono </nb-option>
        <nb-option value="3">Pagos </nb-option>
      </nb-select>
    </div>
    <div class="wrapper">
      <nb-tabset fullWidth>
        <nb-tab tabTitle="Pilotos">
          <app-students-table
            [students]="flightPilots"
            [flightId]="flight?._id"
            mode="remove"
            (reload)="handleReload()"
          ></app-students-table>
        </nb-tab>
        <nb-tab tabTitle="Enlistados">
          <app-students-table
            [students]="flightRecruits"
            [flightId]="flight?._id"
            mode="promote"
            (reload)="handleReload()"
          ></app-students-table>
        </nb-tab>
        <nb-tab tabTitle="Agregar">
          <app-students-table
            [students]="students"
            [flightId]="flight?._id"
            mode="add"
            (reload)="handleReload()"
          ></app-students-table>
        </nb-tab>
      </nb-tabset>
    </div>
  </nb-card-body>
</nb-card>
