.student-item {
  width: 100%;
  display: grid;
  padding-top: 5px;
  padding-bottom: 5px;
  column-gap: 10px;
  align-items: center;
  grid-template-columns: 80px auto 150px;
  &.view {
    grid-template-columns: 80px 80px auto 130px 80px 150px;
  }
  .options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &.settings-active {
      justify-content: space-between;
    }
  }
}
